body {
    background-color: rgb(250, 249, 248);
    text-align: center;
    padding-top: 20px;
    font-family: sans-serif;
}

header {
    font-family: 'Varela', sans-serif;
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-between;
    align-items: center;

}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header ul li {
    display: inline-block;
    padding: 10px 15px;
    cursor: cell;
    font-size: 0.8rem;
}

    .active {
    background-color: rgb(146, 219, 219);
 }


h1 {
    color: rgb(2, 2, 3);
    
}

img{
    box-shadow: 0 0 1px 1px #efefef ;
    border: solid 5px black;
    width :300px;
    margin: 50px
}

#contact{
    background-color: cornflowerblue;
    border-radius: 3px;
    color: beige;
    padding: 10px 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin: 40px;

}

p{
    color: #666;
    line-height: 2em;
    margin: 20px 70px 70px;
    text-align: justify;
    max-width: 500;
}

ul{
    list-style: none;
    padding: 0;
}

li
{
    display: inline;
    margin: 0 5px;



}